body {
    background-color: dimgrey;
    padding-top: 30px;
    font-size: 2.5vw;    
}

a{
    border: solid 2px deeppink;
    border-radius: 5px;
    text-decoration: none;
    color: inherit;
}
a:hover{
    background-color: black;
    cursor: url(cursor.png)13 64;
}

html:hover{
    cursor: url(cursor.png)13 64, auto;
}

.container{
    text-align: center;
    
}

.container img{
    margin: 3px;
    height: 40vw;
    border: solid 2px deeppink;
}
